

.cabecalho {
    border-bottom: solid 3px rgb(204, 204, 204);
    height: 70px;
    box-sizing: content-box;
    position: fixed;
    width: 100%;
    top:0;
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.973) !important;
    z-index: 1;
}

.logo {
    display: inline-block;
    height: 70px;
}

.logo img {
    height: 100%;
}

.menu-toggle {
    float: right;
    color: #eeeeee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;

}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    position: absolute;
    right: 0px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.cabecalho a {
    text-decoration: none;
    color: #eeeeee;
}

.menu a {
    padding: 15px;
    color: #444;
}

.menu a:hover,
.menu a.select {
    background-color: rgb(112 138 125);
    border-radius: 10px;
    color: black;
}

.botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}

@media(min-width: 979px) {
    .menu-toggle {
        display: none;
    }
}

@media(max-width: 980px) {
    .menu {
        display: none;
    }
}