#historia {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-bottom: 30px;
    margin: 0;
    background-color: rgb(112 138 125);
    color: black;
    font-size: 30px;
    display: grid;
    grid-template-columns: 450px 1fr 1fr;
    grid-template-rows: 1fr 140px 140px;
    gap: 0px 0px;
    grid-template-areas: 
      "historia      fotos fotos" 
      "familia-noivo fotos fotos"
      "familia-noiva fotos fotos";
}

#familia-noivo {
    grid-area: familia-noivo;
    width: 100%;
    height: 100%;
}

#familia-noiva {
    grid-area: familia-noiva;
    width: 100%;
    height: 100%;
}


div.polaroid img {
    width: 100px;
    height: 95px;
}

div.polaroid {
    width: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

div.container-polaroid {
    font-size: 10px;
    text-align: center;
    padding: 5px 0px;
    margin: 0px;
}

.fotos-familia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.historia-text {
    text-align: center;
    padding-top: 50px;
    grid-area: historia;
    width: 100%;
    height: 100%;
    color: white;
}

.historia-text p {
    padding-top: 8px;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: justify;
}

.fotos {
    padding-top: 50px;
    grid-area: fotos;
    width: 100%;
    height: 100%;
}

@media screen and (max-height: 500px) {
    #historia {
        overflow: scroll;
    }
}

@media screen and (max-width: 600px) {
    #historia {
        padding-right: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 140px 140px 1fr;
        font-size: 25px;
        gap: 10px 10px;
        grid-template-areas: 
          "historia"
          "familia-noivo"
          "familia-noiva"
          "fotos";
        padding-bottom: 100px
    }
    .historia-text p{
        font-size: 12px;
    }
    .fotos {
        padding: 0;
    }

}


/* FOTOS */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}