#historia {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0;
    background-color: rgb(112 138 125);
    color: black;
    font-size: 30px;
    display: grid;
    grid-template-columns: 450px 1fr 1fr;
    grid-template-rows: 1fr 140px 140px;
    gap: 0px 0px;
    grid-template-areas: 
      "historia      fotos fotos" 
      "familia-noivo fotos fotos"
      "familia-noiva fotos fotos";
}

#familia-noivo {
    grid-area: familia-noivo;
    width: 100%;
    height: 100%;
}

#familia-noiva {
    grid-area: familia-noiva;
    width: 100%;
    height: 100%;
}


div.polaroid img {
    width: 100px;
    height: 95px;
}

div.polaroid {
    width: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

div.container-polaroid {
    font-size: 10px;
    text-align: center;
    padding: 5px 0px;
    margin: 0px;
}

.fotos-familia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.historia-text {
    text-align: center;
    padding-top: 50px;
    grid-area: historia;
    width: 100%;
    height: 100%;
    color: white;
}

.historia-text p {
    padding-top: 8px;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: justify;
}

.fotos {
    padding-top: 50px;
    grid-area: fotos;
    width: 100%;
    height: 100%;
}

@media screen and (max-height: 500px) {
    #historia {
        overflow: scroll;
    }
}

@media screen and (max-width: 600px) {
    #historia {
        padding-right: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 140px 140px 1fr;
        font-size: 25px;
        gap: 10px 10px;
        grid-template-areas: 
          "historia"
          "familia-noivo"
          "familia-noiva"
          "fotos";
        padding-bottom: 100px
    }
    .historia-text p{
        font-size: 12px;
    }
    .fotos {
        padding: 0;
    }

}



