#inicio {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "texto imagem";
    justify-content: center;
}

.texto {
    padding-top: 20%;
    float: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0;
    grid-area: texto;
}

.texto h1 {
    font-size: 100px;
    color: rgb(112 138 125);
}

.texto h2 {
    font-size: 25px;
    padding-right: 20%;
    margin: 0 0 20px 0;
    color: black;
    max-width: 800px;
    text-align: right;
}

.texto p {
    font-size: 25px;
    text-align: center;
    margin: 40px 0 50px 0;
}

.texto button {
    border: 0;
    background-color: rgb(112 138 125);
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.texto-inicio button:active {
    background-color: #6e885b;
}

.imagem {
    margin: 0;
    padding-top: 30%;
    padding-left: 30%;
    grid-area: imagem;
}

@media(max-width: 980px) {
    .imagem {
        display: none;
    }
}

@media(max-width: 500px) {
    .texto h1 {
        font-size: 70px;
    }
    .texto h2 {
        font-size: 20px;
        padding-right: 0;
    }
    .texto p {
        font-size: 20px;
    }
}