#local {
    padding-top: 50px;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
}

#local-fotos {
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: scroll;
}

#local-fotos iframe {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#local-fotos h1 {
    font-size: 50px;
}
#local-fotos h2 {
    font-size: 15px;
}

#mapouter {
    width: 50%;
}

#gmap_canvas,
#gmap {
    grid-area: mapa;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 600px) {
    #local {
        display: block;
        overflow: scroll;
    }
    #mapouter {
        width: 100%;
        height: 100%;
    }
    #local-fotos {
        width: 100%;
        height: 100%;
    }
}