* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    height: 100px;
    padding: 20px 0;
}

.logo {
    width: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.menu {
    width: 100%;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 30px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: -900px;
    right: -600px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: rgb(112 138 125);
}

.texto-sobre {
    margin-top: 100px;
}

.texto-sobre h1 {
    font-size: 120px;
    color: rgb(112 138 125);
}

.texto-sobre h2 {
    font-size: 20px;
    padding: 0;
    margin: 0 0 20px 0;
    color: black;
    max-width: 800px;
    text-align: right;
}

.texto-sobre p {
    font-size: 20px;
    text-align: center;
    margin: 40px 0 50px 0;
}

.texto-sobre button {
    border: 0;
    background-color: rgb(112 138 125);
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    
}

.texto-sobre button:active {
    background-color: #6e885b;

}