* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    align-items: flex-start;
    overflow-x: hidden;
}

section {
    display: block;
    height:100%;
    width:100%;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.sections {
    height:100%;
    width:100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

@media screen and (max-width: 600px) {
    .sections {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    section {
        scroll-snap-align: start;
    }
}


